/* General */
a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-family: "Verdana", Sans-serif;
	font-weight: 700;
}

article{
	margin: 0px auto;
	width: 800px;
}

body{
	background-color: rgb(10, 10, 10);
	color: rgb(255, 255, 255);
}

h2,h3,h4,h5,h6{
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	text-transform: uppercase;
	margin: 10px 0px;
}

h1{
	font-size: 34px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	margin: 10px;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 26px;
}

h4{
	font-size: 24px;
}

h5{
	font-size: 22px;
}

h6{
	font-size: 20px;
}

header{
	background-color: rgb(0 ,0 , 0);
}

main{
	padding: 5px;
	margin: 54px 5px;
	/* para cuando usas float */
	overflow: hidden;
}

p{
	font-size: 14px;
	line-height: 18px;
}

ul{
	font-size: 14px;
	font-weight: 300;
	margin: 10px auto;
}

/* footer */

footer {
	border-top: 2px solid rgb(226, 226, 226);
	padding: 5px 0px;
}

footer ul{
	margin-right: 5px;
}

footer ul li{
	float: right;
	margin: 10px;
}

.fab{
	color: #fff;
}

/* Barra nav */

nav{
	position: fixed;
	top: 0px;
	bottom: 0px;
	background-color: rgb(0, 0, 0);
	height: 56px;
	width: 100%;
}

header ul{
	margin-top: 25px;
	margin-right: 5px;
}

header ul li{
	float: right;
	margin-right: 10px;
}

header ul li a{
	color: #fff; /* cambiar color despues*/
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    transition: color 0.5s;
    font-size: 20px;
}

header ul li a:hover{
	color: #ff2121; /* cambiar color despues*/
}

#logomenu{
	float: left;
	margin-left: 15px;
	margin-top: 3px;
}

#logomenu:hover{
	animation-name: shake-logo;
    animation-duration: 0.75s;
}


/* Anuncios | Titulo anuncios */

#tituloAnuncios{
	margin: 10px auto;
	padding-bottom: 5px;
	width: 800px;
	text-align: center;
	color: rgb(255, 255, 255);
}

/* Concierto | Div conciertos */

.botonComprar{
	text-transform: uppercase;
	margin: 2% auto;
	width: 100px;
	height: 20px;
	background-color: rgb(255, 255, 255);
	border: solid 1px black;
	transition: width 0.5s, height 0.5s;
}

.botonComprar:hover{
	width: 150px;
	height: 30px;
}

.divsConciertos{
	width: 30%;
	height: 40%;
	border: 1px solid black;
	margin: 2% 8%;
	background: linear-gradient(to bottom, rgba(255,186,76,1) 0%, rgba(255,146,10,1) 100%);
	text-align: center;
}

#divConcierto1{
	float: left;
}

#divConcierto2{
	float: right;
}

/* Contacto | Formulario */

form{
	font-family: "Verdana", Sans-serif;
	margin: 0 5%;
}

form div{
	font-size: 12px;
	margin-bottom: 5px;
}

form legend {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	margin: 10px 0;
}

form input, form select, form textarea{
	margin-bottom: 15px;
}

/* Discografia | Tabla discografia */

#tablaDis table {
  border-collapse: collapse;
  text-align: center;
}

#tablaDis  th, #tablaDis td {
  border: 1px solid black;
  font-family: "Verdana", Sans-serif; 
}

#tablaDis td {
	background-color: rgb(255, 204, 128);
	text-align: center;
}

#tablaDis td img {
	height: 50%;
	width: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#tablaDis td li {
	text-align: left;
}

#tablaDis th {
	background-color: rgb(255, 153, 0);
}

/*animacion*/
@keyframes shake-logo{
	0% { transform: rotate(0deg);}
	25% { transform: rotate(5deg); }
	50% { transform: rotate(-5deg); }
	75% { transform: rotate(3deg); }
	100% { transform: rotate(0deg); }
} 